# General
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.venv

# IDEs and Editors
.vscode/
.idea/
*.iml

# Build and Dependency Directories
dist/
build/
target/
out/

# OS-specific
*.bak
*.orig

# Custom
# Add any project-specific files or directories to ignore here
db.sqlite3
.cursor/
# static and media files
staticfiles/